---
layout: default
---


<section>
  <h1>Gallery</h1>
  <p> Quick snippets of my work. Some link to the projects externally, and some link to case studies. Visit the projects page for more detailed descriptions of my work.</p>
</section>

<section id="gallery-wrap">
  {% for post in site.categories.gallery %}
    <div class="gallery-post">
      <div class="gallery-details">
        <h2>{{post.title}}</h2>
        <p>{{post.meta}}</p>
        {% if post.link != nil %}
          <a href="{{post.link}}">View</a>
        {% endif %}
      </div>
      <img src="{{site.baseurl}}/../resources/images/gallery/{{post.image}}"></img>
    </div>
  {% endfor %}

</section>
