<footer id="main-footer">
  <section id="footer-wrap">
    <h2>Find me Online</h2>
    <ul>
      <li>
        <i class="fa fa-twitter"></i>
        <a class= "smooth-slide-right" href="#">Twitter</a>
      </li>
      <li>
        <i class="fa fa-tumblr"></i>
        <a class= "smooth-slide-right" href="#">Tumblr</a>
      </li>
      <li>
        <i class="fa fa-github"></i>
        <a class= "smooth-slide-right" href="#">Github</a>
      </li>
      <li>
        <i class="fa fa-stack-overflow"></i>
        <a class= "smooth-slide-right" href="#">Stack Overflow</a>
      </li>
      <li>
        <i class="fa fa-flickr"></i>
        <a class= "smooth-slide-right" href="#">Flickr</a>
      </li>
    </ul>
  </section>
  <section id="copyright-wrap">
    <p>&copy; Copyright - William Park - 2016</p>
  </section>
</footer>
