<footer id="main-footer">
  <section id="footer-wrap" class="two-column">
    <section>
      <h2>Find me Online</h2>
      <ul>
        <li>
          <i class="fa fa-twitter"></i>
          <a class= "smooth-slide-right" target="_blank"  href="https://twitter.com/WilliamIPark">Twitter</a>
        </li>
        <li>
          <i class="fa fa-tumblr"></i>
          <a class= "smooth-slide-right" target="_blank"  href="http://williamipark.tumblr.com/">Tumblr</a>
        </li>
        <li>
          <i class="fa fa-github"></i>
          <a class= "smooth-slide-right" target="_blank"  href="https://github.com/WilliamIPark">Github</a>
        </li>
        <li>
          <i class="fa fa-stack-overflow"></i>
          <a class= "smooth-slide-right" target="_blank"  href="http://stackoverflow.com/users/6364448/william">Stack Overflow</a>
        </li>
        <li>
          <i class="fa fa-flickr"></i>
          <a class= "smooth-slide-right" target="_blank"  href="https://www.flickr.com/photos/williamipark/">Flickr</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Get in touch</h2>
      <form action="https://formspree.io/williampark@hotmail.co.uk" method="POST" id="contact-form">
        <label for="contact-form-email">Your Email:</label>
        <input class="text-input" id="contact-form-email" type="email" name="_replyto" placeholder="Your Name">
        <label for="contact-form-message">Message:</label>
        <textarea id="contact-form-message" name="message" placeholder="Your Message"></textarea>
        <input class="input-button" type="submit" value="Send">
      </form>
    </section>
  </section>
  <section id="copyright-wrap">
    <p>&copy; Copyright - William Park - 2016</p>
  </section>
</footer>
