<header id="main-header">
  <section id="header-wrap">
    <a href="/">
      <div id="identity-wrap">
          <img src="{{site.baseurl}}/resources/images/Monogram_Large_Optimized.svg"
               alt="Logo"
               id="logo"
          />
        <h1 id="wordmark">William Park</h1>
      </div>
    </a>

    <nav id="nav-toggle-wrap">
      <button type="button" name="sidebar-toggle" id="sidebar-toggle">
        <i id="nav-toggle-icon" class="fa fa-bars fa-3x"></i>
      </button>
    </nav>
    <div id="nav-fade"></div>
  </section>
</header>
