<aside id="sidebar">
  <section class="flex-right smooth-slide-right" id="sidebar-back">
    <h4 id="back-text">Back</h4>
    <button type="button" name="sidebar-toggle" id="sidebar-toggle">
      <i id="nav-toggle-icon" class="fa fa-arrow-right"></i>
    </button>
  </section>
  <h1>Navigation</h1>
  <ul>
    <li>
      <a class= "smooth-slide-right" href="{{site.baseurl}}/index.html">Home</a>
      <p>The front page to all things awesome!</p>
    </li>
    <li>
      <a class= "smooth-slide-right" href="{{site.baseurl}}/about.html">About</a>
      <p>Learn about me, or find a way to get in touch!</p>
    </li>
    <li>
      <a class= "smooth-slide-right" href="#">Gallery</a>
      <p>My work laid out for you!</p>
    </li>
    <li>
      <a class= "smooth-slide-right" href="#">Projects</a>
      <p>My work, but in a case study form!</p>
    </li>
    <li>
      <a class= "smooth-slide-right" href="#">Blog</a>
      <p>See more of my creations, hear my ramblings!</p>
    </li>
  </ul>
</aside>
