#main-footer
  background-color: #1E1E20
  width: 100%
  display: flex
  flex-direction: column
  border-left: 200px solid #1E1E20
  border-right: 200px solid #1E1E20
  position: relative
  right: 200px

#footer-wrap
  width: 960px
  margin: 0 auto

#main-footer h2
  color: white

#main-footer section
  padding: 0 50px

#main-footer section ul li
  color: white
  list-style: none
  text-indent: -20px
  padding: 5px 0

#main-footer section ul li a
  color: white
  text-indent: 10px

#copyright-wrap
  align-self: center

#copyright-wrap p
  font-size: 18px
  color: #999
  margin: 0 0 30px 0
  padding: 0
