$main-fonts: "essonnes-display", "Times New Roman", Georgia, serif

#intro-sentence-wrap
  width: 100%

.intro-sentence
  font-family: $main-fonts
  font-weight: lighter
  margin: 0
  padding: 0

.space-fix
  margin-right: 5px

.typed-cursor
  font-size: 36px
  opacity: 1
  -webkit-animation: blink 0.7s infinite
  -moz-animation: blink 0.7s infinite
  animation: blink 0.7s infinite
  z-index: -1 !important

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1

@-webkit-keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1

@-moz-keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
