@import variables

//Main, top of page, navigation.
#main-header
  width: 100%
  padding: 30px 0 20px 0
  position: fixed
  display: flex
  align-items: center
  justify-content: center

  background-color: white
  z-index: 10

#header-wrap
  max-width: 960px
  width: 100%
  display: flex
  align-items: center
  padding: 0
  margin: 0
  justify-content: space-between

#header-wrap a:hover
  text-decoration: none


#desktop-nav ul
  display: flex
  list-style: none
  padding: 0

#desktop-nav ul a
  padding: 5px 10px

#desktop-nav ul a:hover
  color: white
  background-color: black


//Small fade gradient to stop the harsh disappearance of content.
#nav-fade
  height: 50px
  top: 120px
  width: 100%
  background-image: url($baseurl + "/resources/images/fade-gradient.png")
  background-repeat: repeat-x
  z-index: 1
  position: fixed


//Keeps the logo and wordmark together.
#identity-wrap
  display: flex
  width: 500px
  height: 50px

#logo
  max-height: 50px
  width: auto
  display:inline-block

#wordmark
  display:inline-block
  margin-left: 20px
  font-size: 64px
  position: relative
  bottom: 75px


//Hamburger menu.

#nav-toggle-icon
  display: inline-block

.fa-bars
  transition: all 0.3s cubic-bezier(.87,-.41,.19,1.44)

.fa-bars:hover
  transform: scale(1.2)

.fa-bars:active
  transform: scale(1.1)

.fa-arrow-right
  color: white

#sidebar-toggle
  background: none
  border: none
  cursor: pointer
  outline: none

#sidebar
  background-color: $accent-color
  height: 100vh
  width: 480px
  position: fixed
  top: 0
  right: 0
  transform: translateX(540px)
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44)
  max-height: 100%

  padding: 20px 40px 20px 20px
  margin: 0

  -webkit-box-shadow: inset 17px 0px 47px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: inset 17px 0px 47px 0px rgba(0,0,0,0.1)
  box-shadow: inset 17px 0px 47px 0px rgba(0,0,0,0.1)



.slide-sidebar
  transform: translateX(40px) !important

#sidebar h1
  color: white

#sidebar-back
  cursor: pointer
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44)
  float: right

.smooth-slide-right:hover
  transform: translateX(3px)

#sidebar-back h3
  color: white
  padding: 0
  margin: 0

#sidebar ul
  list-style: none
  padding: 0
  margin: 0

#sidebar ul li
  text-ident: -2em

.smooth-slide-right
  color: white
  text-decoration: none
  display: inline-block
  transition: all 0.2s cubic-bezier(.87,-.41,.19,1.44)

#sidebar p
  margin-top: 5px
  margin-bottom: 5px
  padding-bottom: 10px
  font-size: 18px
  color: white

#back-text
  color: white

@media screen and (max-width: 1000px)
  #main-header
    padding: 30px 50px 0px 50px
    width: 100%

  #header-wrap
    flex-direction: column
    align-items: flex-start

  #nav-fade
    top: 150px
